.content
{
  font-family:
  position: relative;
  margin-left: 20px;
}
body
{
  background-color: #d0d0e1;
  display: block;
  margin: 8px;
  background: #eee !important;
}
.questioncomment
{

  font-style: italic;
  position: relative;
  margin-left: 20px;
}
.question_answer
{

  font-style: italic;
  position: relative;
  margin-left: 20px;
  font-size: 100%;
  font-weight: bold;
}
.answer_comment
{

  margin-left: 30px;
  font-family: Georgia;
}
.answer_edit
{
  font-size: 90%;
}
.answer_destroy
{
  font-size: 90%;
}
.answer_comment_button
{
  font-size: 90%;
}
.answer_comment_edit
{
  font-size: 90%;
}
.answer_comment_destroy
{
  font-size: 90%;
}
.question_edit
{
  font-size: 90%;
}
.question_destroy
{
  font-size: 90%;
}
.reviewer
{
  font-size: 60%;
}
.navbar.navbar-default
{
  background-color: #b3ffe0;
}
html,body {
  height: 100%;
}
.wrapper
{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
.push
{
  height: 65px;
}
footer {
  width: 100%;
  height: 60px;
  background-color: #b3ffe0;

}
h2
{
  text-align: center;
}
.sign-box
{
  background-color: lightgrey;
  border: 2px solid black;
  margin: 25px;
  text-align: center;
  border-radius: 3%;
  padding: 20px;
}
.center
{
  text-align: center;
}
